@model MVCFinalProject.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Father_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Father_Name)
                @Html.ValidationMessageFor(model => model.Father_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mother_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mother_Name)
                @Html.ValidationMessageFor(model => model.Mother_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality)
                @Html.ValidationMessageFor(model => model.Nationality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maritual_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maritual_status)
                @Html.ValidationMessageFor(model => model.Maritual_status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Religion)
                @Html.ValidationMessageFor(model => model.Religion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Home_phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Home_phone)
                @Html.ValidationMessageFor(model => model.Home_phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Present_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Present_address)
                @Html.ValidationMessageFor(model => model.Present_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parmanent_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.parmanent_address)
                @Html.ValidationMessageFor(model => model.parmanent_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DID, "DID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DID", String.Empty)
                @Html.ValidationMessageFor(model => model.DID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesId, "DesId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DesId", String.Empty)
                @Html.ValidationMessageFor(model => model.DesId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecID, "SecID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecID", String.Empty)
                @Html.ValidationMessageFor(model => model.SecID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DivID, "DivID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DivID", String.Empty)
                @Html.ValidationMessageFor(model => model.DivID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Benefit_ID, "Benefit_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Benefit_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Benefit_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeType_ID, "EmployeeType_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeType_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeType_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GID, "GID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GID", String.Empty)
                @Html.ValidationMessageFor(model => model.GID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gross_Salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gross_Salary)
                @Html.ValidationMessageFor(model => model.Gross_Salary)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
