@model MVCFinalProject.Models.SalaryHistory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SalaryHistory</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpID, "EmpID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmpID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dates, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dates)
                @Html.ValidationMessageFor(model => model.Dates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Basics, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Basics)
                @Html.ValidationMessageFor(model => model.Basics)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseRent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HouseRent)
                @Html.ValidationMessageFor(model => model.HouseRent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medical, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Medical)
                @Html.ValidationMessageFor(model => model.Medical)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Convences, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Convences)
                @Html.ValidationMessageFor(model => model.Convences)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Taxes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Taxes)
                @Html.ValidationMessageFor(model => model.Taxes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gross_Salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gross_Salary)
                @Html.ValidationMessageFor(model => model.Gross_Salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionID, "PromotionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PromotionID", String.Empty)
                @Html.ValidationMessageFor(model => model.PromotionID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
