@model MVCFinalProject.Models.Promotion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Promotion</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PromotionID)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpID, "EmpID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmpID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Promotion_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Promotion_type)
                @Html.ValidationMessageFor(model => model.Promotion_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active_date)
                @Html.ValidationMessageFor(model => model.Active_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.promotion_active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.promotion_active)
                @Html.ValidationMessageFor(model => model.promotion_active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Basics, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Basics)
                @Html.ValidationMessageFor(model => model.Basics)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.House_Rent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.House_Rent)
                @Html.ValidationMessageFor(model => model.House_Rent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Medical, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Medical)
                @Html.ValidationMessageFor(model => model.Medical)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Convences, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Convences)
                @Html.ValidationMessageFor(model => model.Convences)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Taxes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Taxes)
                @Html.ValidationMessageFor(model => model.Taxes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gross_Salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gross_Salary)
                @Html.ValidationMessageFor(model => model.Gross_Salary)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
