@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
</div>

<table style="width:100%">
    <tr>
        <td>
            @*<ul class="">
                <li>@Html.ActionLink("Attendence", "Index", "Attendence")</li>
                <li>@Html.ActionLink("SalaryHistory", "Index", "SalaryHistory")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>*@
        </td>
        <td></td>
    </tr>
</table>